<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.interdigital.android.samplemapdataapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SmdApplication"
        android:allowBackup="true"
        android:icon="@drawable/carpark_icon"
        android:label="@string/title_activity_maps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MapsActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>